{% extends "base.html" %}
{% block title %}watch-tv - show: {{ name }}{% endblock %}
{% block main -%}
	<h1>{% if hasInfo %}{{ info.title }}{% else %}{{ name }}{% endif %}</h1>
	<div id="show-art"><img src="{{ info.poster }}" width="300" height="450"></img></div>
	<div id="show-info" class="bb">
		{% if hasInfo %}
		<p>{{ info.description }}</p>
		<p>First aired {{ info.firstAir }}</p>
		<p id="show-genres">{{ info.genres }}
		{% else %}
		No information available
		{% endif %}
	</div>
	{% for source, seasons in results.items() -%}
		{% for season in seasons -%}
			{% set seasonLoop = loop %}
			<h2>Season {{ loop.index }}</h3>
			{% for episode in season %}
				<a href="/episode/{{ episode }}"><div class="search-result bb" style="background-image: url({% if hasInfo %}{{ art[seasonLoop.index0][loop.index0] }}{% else %}{{ art }}{% endif %})"><span class="search-caption bb">Season {{ seasonLoop.index}} Episode {{ loop.index }}{% if hasInfo %}: {{titles[seasonLoop.index0][loop.index0] }}{% endif %} </span></div></a>
			{% endfor %}
		{%- endfor %}
	{%- endfor %}
{%- endblock %}
