{% extends "base.html" %}
{% block title %}watch-tv - show: {{ name }}{% endblock %}
{% block main -%}

	{% for source, seasons in results.items() -%}
		{% for season in seasons -%}
			{% set seasonLoop = loop %}
			<h1>Season {{ loop.index }}</h1>
			{% for episode in season %}
				<a href="/episode/{{ episode }}"><div class="search-result bb" style="background-image: url({{ art[seasonLoop.index0][loop.index0] }})"><span class="search-caption bb">Season {{ seasonLoop.index}} Episode {{ loop.index }}</span></div></a>
			{% endfor %}
		{%- endfor %}
	{%- endfor %}
{%- endblock %}
